$san-serif : 'Manrope', sans-serif;
$text-black: #222222;
$primary-color: #0057FF;
$grey-light: #999999;
$background-grey: #F5F5F7;

%container-css {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    padding: 30px 0px;
    align-items: center;
}

navbar{
    width: 100%;
    max-width: 1920px;
    background-color: none;
    position: fixed;
    transition: 0.6s;
    z-index: 100;
    top: 0px;
    background-color: rgba(255,255,255,0.98);
    border-bottom: 1px solid rgba(0,0,0,0.08);

    .navbar-desktop{
        @extend %container-css;
        padding: 0px;
        

        .navigation-links{
            margin-left: auto;
            display: flex;

            a{
                margin-left: 56px;
                font-family: $san-serif;
                color: $text-black;
                font-size: 18px;
                font-weight: 300 !important;
                padding-bottom: 0px;
                position: relative;
                padding: 24px 0px 24px 0px;
            }

            .external-link:after{
                position:absolute;
                padding-left:8px;
                content: url(https://res.cloudinary.com/drm7gxqhv/image/upload/v1610350720/Portfolio%203.0/Home%20page/external-link_pmbqeb.svg);
                opacity: 0;
                transition:0.5s;
            }

            a:before{
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $primary-color;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
            }

            a:hover:before {
                visibility: visible;
                width: 100%;
            }

            .external-link:hover:after{
                opacity: 1;
            }

            a.active{
                border-bottom: 2x solid $primary-color;
            }
        }
    }

    .navbar-mobile{
        display: none;
        padding: 30px 0px;
        @extend %container-css;

        .logo{
            img{
                height: 26px;
            }
        }

        .menu-icon{
            margin-left: auto;
        }
        
        .menu-expanded{
            width: 100vw;
            height: 100vh;
            background-color: white;
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 0;
            left: 0;
            overflow: scroll;
            opacity: 0;
            transition: 0.5s;
            pointer-events: none;
            z-index: 10;


            .menu-top{
                z-index: 5;
                position: absolute;
                padding: 30px 0px;
                @extend %container-css;

                .close-icon{
                    margin-left: auto;
                }
            }

            .menu-links{
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-top: auto;
                margin-bottom: auto;

                a{
                    font-family: $san-serif;
                    color: $text-black;
                    font-weight: 300 !important;
                    letter-spacing: -0.5px;
                    font-size: 26px;
                    margin-top: 64px;
                }

                a:first-child{
                    margin-top: 0px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    navbar{
        .navbar-desktop{
            display: none;
        }

        .navbar-mobile{
            display: flex;
        }
    }
}

section.footer{
    padding: 48px 0px;
    border-top: 1px solid #eeeeee;

    .container{
        display: flex;
        flex-direction: row;

        p{
            font-weight: 100;
        }

        p:nth-child(2) {
            margin-left: auto;
        }
    }
}

@media screen and (max-width: 600px) {
    section.footer{
        padding: 32px 0px;

        p{
            margin-left: auto;
            margin-right: auto;
        }
    
        p:nth-child(2) {
            display: none;
        }
    }
}