$neue: neue-haas-grotesk-text, sans-serif;
$kansas : kansasnew, serif;
$poppins : 'Poppins', sans-serif;

$text-black: #222222;

h1{
    font-family: $poppins;
    letter-spacing: -4px;
    font-size: calc(32px + (80 - 32) * ((100vw - 320px) / (1680 - 320))); 
    line-height: calc(48px + (108 - 48) * ((100vw - 320px) / (1680 - 320))); 
    font-weight: 400;
}

h2{
    font-family: $poppins;
    letter-spacing: -2px;
    font-size: calc(32px + (64 - 32) * ((100vw - 320px) / (1680 - 320))); 
    font-weight: 400;
    margin: 0px;
}

h3{
    font-family: $poppins;
    letter-spacing: -2px;
    font-weight: 300;
    font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1680 - 320))); 
}

h4{
    font-family: $neue;
    letter-spacing: 0px;
    font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1680 - 320)));  
}

h4.serif{
    font-family: $poppins !important;
    font-weight: 400;
    letter-spacing: -1px;
}

h5{
    font-family: $neue;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1680 - 320)));  
}

h5.serif{
    font-family: $poppins !important;
    font-weight: 400;
    letter-spacing: -1px;
}

h6{
    font-family: $neue;
    letter-spacing: 0px;
    font-size: 24px; 
    font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1680 - 320))); 
    font-weight: 100;
    margin: 0px;
    color: $text-black;
}

h6.serif{
    font-family: $poppins !important;
    font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1680 - 320))); 
    font-weight: 400;
    letter-spacing: -0.5px;
}

h7{
    font-family: $neue;
    letter-spacing: 0px;
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1680 - 320)));
}

h7.serif{
    font-family: $poppins !important;
    font-weight: 400;
    letter-spacing: -0.5px;
}

p.p1{
    font-family: $neue;
    letter-spacing: 0px;
    font-size: 18px;
    line-height: 32px;
}

p.p2{
    font-family: $neue;
    letter-spacing: 0px;
    font-weight: 100;
    font-size: 16px;
}

@media screen and (max-width: 1280px) {
    
    h3{
        letter-spacing: -1px;
    }
    
    
    p.p1{
        font-size: 17px;
        line-height: 28px;
    }
}

@media screen and (min-width: 1681px) {
    h1{
        font-size: 80px; 
        line-height: 108px;
    }
    
    h2{
        font-size: 64px; 
    }
    
    h3{
        font-size: 48px; 
    }
    
    h4{
        font-size: 36px; 
    }
    
    
    h5{
        font-size: 32px; 
    }
    
    
    h6{
        font-size: 24px;  
    }
    
    h6.serif{
        font-size: 26px; 
    }
    
    h7{
        font-size: 20px;
    }
    
}