@import 'grid';
@import 'navigation';
@import 'home';
@import 'projects';
@import 'about';

$text-black: #222222;
$grey-dark : #666666;
$grey-light: #999999;

$background-grey: #F5F5F7;
$primary-color: #0057FF;


::selection {
  background: $primary-color;
  color: white;
}


html{
    width:100%;
    scroll-behavior: smooth;
    background-color: #f9f9f9;
  }
  
body{
  width:100%;
  margin:0 auto;
  max-width:1920px;
  color:$text-black;
  position: relative;
  background-color: white;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeInDiv{
  animation: fadeIn 0.9s ease-in-out;
}

a{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}


a:visited { 
  text-decoration: none; 
  color: $text-black;
}

h7{
  a:visited { 
    text-decoration: none; 
    color: $text-black !important;
  }
}

.animate-on-scroll{
  transition: 0.8s;
}

@keyframes fadeInUp {
  from{
    transform:translateY(100px);
    opacity: 0;
  }

  to{
    transform:translateY(0px);
    opacity: 1;
  }
}

// Contact page css : 
.typeform-widget{
  height: 100vh !important;
  margin-bottom: 64px;
}

ul, ol{
  padding-left: 16px;

  p{
    margin-bottom: 0px !important;
  }
}

.external-link:after{
  position:absolute;
  padding-left:8px;
  content: url(https://res.cloudinary.com/drm7gxqhv/image/upload/v1610350720/Portfolio%203.0/Home%20page/external-link_pmbqeb.svg);
  opacity: 0;
  transition:0.5s;
}

.external-link:hover:after{
  opacity: 1;
}

.margin-right-0{
  margin-right:0px !important;
}

.inline-link{
  font-weight: 600;
  opacity: 1;
  transition: 0.6s;
}

.inline-link:hover{
  opacity: 0.5;
}
